.App {
  background-color: rgba(0, 0, 0, 0.701);
}

.color-nav{
  background-color: #FAF0E6;
}

.navbar-title{
  float: right;
}

.homepage{
  height: 100%;
}

.homepage-mosaic{
  height: 50%;
}
/* 
.quote-card-bg{
  background-color: rebeccapurple;
} */